
* {
    font-family: 'Inter', sans-serif;
  }
  
body{
  display: flex;
  background-color: rgb(255, 255, 255);
  margin : 0;
  padding:0;
  flex-direction: column;
  align-items: center;
}


.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  height: 100px;
  width: 100%;
  gap:50px;
  position: sticky; /*sticky ou fixed ?*/
  top: 0;
  left: 0;
  z-index: 100;
}

.header a:not([id = "logo"]){
  text-decoration: none;
  padding: 10px;
  color: #000000;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.header a:not([id = "logo"]):hover{
  background-color: #006570;
  color: #ffffff;
}

.header-line{
  width: 10%;
  height: 2px;
  background-color: #000;
  margin: 0 auto;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1px;
  width: 80%;
  margin: 20px auto;
  /* background-color: grey; */
}

.itemName {
  font-size: 2em;
  font-weight: bold;
}


.itemBuying{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 0;

}

.itemBuying button{
  width:70%;
  border: none;
  outline: none;
  background: #006570;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 0 auto auto auto;
}
.itemBuying button:hover {
  background: #004c4a;
}

.itemInfo{
  max-width: 30%;
  text-align: justify;
  text-align-last:center;
}

.itemPic{
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* .itemBuying{ */
  /* background-color: aqua; */
/* } */
.itemPrice{
  font-size:2vw;
  margin-bottom: 0;
  margin: 0;
}

.contact{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left:0;
  padding-left: 1%;
  width: 100%;
  height: 50px;
  background-color: #006570;
  color: #fff;
  z-index: 100;
  align-items: center;
}

#contact_title{
  font-size: small;
}

#contact_list{
  
  list-style-type: none;
  align-items: center;
  
}