<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - ProjetPoubelle</title>
    <link href="../static/css/base.css" rel="stylesheet">
    {%block stylesheets%}{%endblock%}
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
</head>

<body>
    <div class ="headerui">
        <div class="header">
            <div class="header-left">
                <!-- Here you have the name of the project and 4 buttons leading to the other
                pages : Accueil (here), Mon Compte (which will have all the account related things)
                and Boutique which lead to the shop to get the magnificient Poubelles™-->
                <a href="/accueil/" id="logo"><img src="../static/images/trash.svg" id="logo" alt = "Logo of the project" width="100" height="100"></a>
                <!-- note : remplacer par le bon logo, si possible en svg-->
                <h1>ProjetPoubelle</h1>
            </div>
            <a href="#top" id="top_logo"><img src="../static/images/env.svg" id="top_logo" alt = "Logo used to go back at the top of the page" width="90" height="90"></a>
        <!-- note : ajouter des mots clés en "strong" pour le référencement-->
            <div class="header-right">
                <a class="active" href="/accueil/">Accueil</a>
                <a href="/shop/">Boutique</a>
                <a href="/userpage/">Mon compte</a>
                
            </div>
        </div>
        <div class = "header-line"></div>
    </div>
    <div class="content">
        {%block content%}{%endblock%}
    </div>
    <div class = "footer">
        <div class="contact">
            <!-- a voir ce qu'on met exactement ici-->
            <h2 id ="contact_title">Nous contacter :</h2>
            <ul id = "contact_list">
                <li>mail :</li> 
                <li> telephone :</li>
                
            </ul>
        </div>
    </div>

</body>
</html>



