{%extends "base.html"%}
{%block title%}Accueil{%endblock%}
{%block stylesheets%} <link href="/static/css/homepage.css" rel="stylesheet"> {%endblock%}
{%block content%}
<div class="article-container">
    <div class="container-info">
        <div class="image-container">
            <div class="image-left">
                <img src="/static/images/belt_dechet.jpg">
            </div>
        </div>
        <div class="text">
        <p>
            En 2020, c'est 310 millions de tonnes de dechets produits en France. Cela represente une diminution de 9,7% par rapport à 2018. <br>
            Cela représente 4,6 tonnes de dechets par habitant. <br>
            Au total, c'est 66% des déchets sont sont minéraux, dont 74% valorisés. 30% des déchets sont non minéraux et non dangereux, 43% d'entre eux sont valorisé. Enfin, les 4% restant représentent les déchets dangereux, parmis lesquels 30% sont valorisés.
        </p>
        </div>
    </div>
    <hr>
    <div class="container-info">
        <div class="text">
            <p>
                Le recyclage des déchets, qu'ils soient organiques ou non organiques, est essentiel pour la préservation de l'environnement. Le recyclage des déchets organiques, comme les restes de cuisine, produit du compost nutritif, améliorant la fertilité des sols et réduisant les émissions de gaz à effet de serre. De même, le recyclage des déchets non organiques, tels que le plastique et le papier, minimise l'utilisation de nouvelles matières premières, économisant ainsi de l'énergie. En adoptant ces pratiques, nous contribuons à la préservation des ressources naturelles, à la réduction de la pollution et à la création d'un avenir plus durable.
            </p>
        </div>
        <div class="image-container">
            <div class="image-right">
                <img src="/static/images/recyclage.jpg">
            </div>
        </div>
    </div>
    <hr>
    <div class="container-info">
        <div class="image-container">
            <div class="image-left">
                <img src="/static/images/reduc_dechet.jpeg">
            </div>
        </div>
        <div class="text">
            <p>
            Pour réduire nos déchets, organiques et non organiques, adoptons des habitudes responsables. Compostons les déchets organiques pour enrichir les sols et limitons l'utilisation d'emballages en optant pour des produits en vrac. Réutilisons les articles du quotidien, comme les sacs et les contenants, pour minimiser notre empreinte déchet. En favorisant le recyclage et en adoptant une consommation consciente, nous contribuons tous à la préservation de l'environnement.    
            </p>
        </div>
    </div>
</div>





<div class="project-container">
    <div class="content">
        <h1 id="titre_accueil">Notre projet</h1>
        <div class="centered-text">
            <p>
                Bienvenue sur notre site dédié à la révolution de la gestion des déchets urbains !
                <br>
                Nous vous proposons une solution innovante qui va au-delà de la simple acquisition de poubelles connectées. 
                Notre plateforme vous offre la possibilité d'acheter ces bacs intelligents, dont nous connaissons la position géographique et le taux de remplissage. 
                Grâce à ces informations précieuses, nous optimisons le trajet de nos camions de collecte, permettant ainsi une gestion plus efficace et durable des déchets en milieu urbain. 
                En investissant dans nos poubelles connectées, vous contribuez à la création de villes plus propres, plus vertes et plus intelligentes. 
                Ensemble, nous façonnons l'avenir d'une gestion des déchets urbains plus efficace et respectueuse de l'environnement. 
                <br>
                <br>
                Bienvenue dans la transformation positive de nos villes !
            </p>
        </div>
    </div>
</div>
{%endblock%}