{%extends "base.html"%}
{%block title%}Accueil{%endblock%}
{%block stylesheets%} <link href="../static/css/homepage.css" rel="stylesheet"> {%endblock%}
{%block content%}
    <div class="txt_img_box">
        <div class="img_inbox_left">
            <img src="../static/images/belt_dechet.jpg">
        </div>
        <div class="txt_inbox">
            En 2020, c'est 310 millions de tonnes de dechets produits en France. Cela represente une diminution de 9,7% par rapport à 2018. <br>
            Cela représente 4,6 tonnes de dechets par habitant. <br>
            Au total, c'est 66% des déchets sont sont minéraux, dont 74% valorisés. 30% des déchets sont non minéraux et non dangereux, 43% d'entre eux sont valorisé. Enfin, les 4% restant représentent les déchets dangereux, parmis lesquels 30% sont valorisés.
        </div>
    </div>
    <br>
    <div class="txt_img_box">
    <div class="txt_inbox">
        Paragraphe sur le recyclage <br>
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
    </div>
        <div class="img_inbox_right">
            <img src="../static/images/belt_dechet.jpg">
        </div>
    </div>
    <br>
    <div class="txt_img_box">
        <div class="img_inbox_left">
            <img src="../static/images/belt_dechet.jpg">
        </div>
    <div class="txt_inbox">
        Paragraphe sur ??? <br>
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
    </div>
    </div>

    <div class="content">
    <h1 id="titre_accueil">Notre projet</h1>
    <p>
        du blabla sur pourquoi notre projet repond un peu au(x) probleme(s) énoncés
    </p>
    </div>
{%endblock%}