{%extends "base.html"%}
{%block title%}Mon profil{%endblock%}
{%block stylesheets%} <link href="./../static/css/profile.css" rel="stylesheet"> {%endblock%}
{%block content%}
<div class="stats flex-column">
    <h1 class="title text-white text-center">
        <span class="fadein-animation"> Quelques </span>
        <span class="fadein-animation"> statistiques </span>
        <span class="fadein-animation"> à </span>
        <span class="fadein-animation"> propos </span>
        <span class="fadein-animation"> de </span>
        <br>
        <span class="fadein-animation"> vous... </span>
    </h1>
    <div class="flex-row flex-split statistics-container">
        <div class="fullheight-stat-container flex-column">
            <div>
                <div class="text-end stat-number">
                    <h4> {{ nb_bins }} </h4>
                </div>
                <br>
                <div class="item flex-column" data-value="50" data-max-value="150">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="stat-card flex-column">
                        <h5 class="stat-title"> C'est le nombre de poubelles que vous possédez. </h5>
                        <div class="stat-desc-container flex-center">
                            <p class="stat-desc"> Enfin, de poubelles de chez <i> nous </i> que vous possédez. Vous êtes peut-être collectionneur de poubelles.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fullheight-stat-container flex-column">
            {% for bin_infos in bins %}
                <div class="slide flex-center">
                    <div class="text-end stat-number flex-row flex-split skewY--10">
                        <div>
                            <h4>
                                {{ bins_infos.used / bins_infos.volume * 100}}%
                            </h4>
                        </div>
                        <h4 class="flex-row flex-end">
                            <img class="btn-prev svg-white slider-buttons" src="../static/images/chevron-left.svg" alt="chevron-left"> 
                            Poubelle {{ loop.index }}
                            <img class="btn-next svg-white slider-buttons" src="../static/images/chevron-right.svg" alt="chevron-right">
                        </h4>
                    </div>
                    <div class="item flex-column" data-value="{{bin_infos.used}}" data-max-value="{{bin_infos.volume}}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="stat-card flex-column">
                            <h5 class="stat-title"> Ca, c'est votre {{ poubelle.translate[index.loop] }} poubelle. </h5>
                            <div class="stat-desc-container flex-center">
                                <p class="stat-desc"> 
                                    <ul>
                                        <li>
                                            Volume actuel : {{ bin_infos.used }}L
                                        </li>
                                        <li>
                                            Volume maximum : {{ bin_infos.volume }}L
                                        </li>
                                        <li>
                                            Vidé pour la dernière fois : {{ bin_infos.last_emptied }}, par {{ bin_infos.last_emptied_by }}
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- <div class="slide flex-center">
                <div class="text-end stat-number flex-row flex-split" style="transform: skewY(-10deg);">
                    <div>
                        <h4>
                            67%
                        </h4>
                    </div>
                    <h4 class="flex-row flex-end">
                        <img class="btn-prev svg-white slider-buttons" src="../static/images/chevron-left.svg" alt="chevron-left"> 
                        1
                        <img class="btn-next svg-white slider-buttons" src="../static/images/chevron-right.svg" alt="chevron-right">
                    </h4>
                </div>
                <div class="item flex-column" data-value="60" data-max-value="90">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="stat-card flex-column">
                        <h5 class="stat-title"> Ca, c'est votre première poubelle. </h5>
                        <div class="stat-desc-container flex-center">
                            <p class="stat-desc"> 
                                <ul class="no-list-style">
                                    <li>
                                        Volume actuel : 10L
                                    </li>
                                    <li>
                                        Volume maximum : 65L
                                    </li>
                                    <li>
                                        Vidé pour la dernière fois : 2023, par notre camion 79832H67
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide flex-center">
                <div class="text-end stat-number flex-row flex-split" style="transform: skewY(-10deg);">
                    <div>
                        <h4>
                            67%
                        </h4>
                    </div>
                    <h4 class="flex-row flex-end">
                        <img class="btn-prev svg-white slider-buttons" src="../static/images/chevron-left.svg" alt="chevron-left"> 
                        2
                        <img class="btn-next svg-white slider-buttons" src="../static/images/chevron-right.svg" alt="chevron-right">
                    </h4>
                </div>
                <div class="item flex-column" data-value="60" data-max-value="90">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="stat-card flex-column">
                        <h5 class="stat-title"> Ca, c'est votre deuxième poubelle. </h5>
                        <div class="stat-desc-container flex-center">
                            <p class="stat-desc">
                                <ul class="no-list-style">
                                    <li>
                                        Volume actuel : 5L
                                    </li>
                                    <li>
                                        Volume maximum :115L
                                    </li>
                                    <li>
                                        Vidé pour la dernière fois : 2022, par notre camion BBBBB
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="flex-row statistics-container flex-space-evenly">
        <div class="fullheight-stat-container flex-column">
            <div>
                <div class="text-end stat-number">
                    <h4> {{total_volume}}kg </h4>
                </div>
                <div class="item flex-column" data-value="{{total_volume}}" data-max-value="1000">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="stat-card flex-column">
                        <h5 class="stat-title"> ...de déchets depuis que vous nous avez rejoints, en 2017. </h5> 
                        <div class="stat-desc-container flex-center">
                            <p class="stat-desc"> Vous souhaitez réduire encore plus votre consommation ? C'est par <a class="visited-h1-color" href="/">ici</a> que ça se passe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fullheight-stat-container flex-column">
        <div>
            <div class="text-end stat-number">
                <h4> {{ recycled_volume }} </h4>
            </div>
            <div class="item flex-column" data-value="{{recycled_volume}}" data-max-value="1000"> 
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="stat-card flex-column">
                    <h5 class="stat-title"> de déchets recyclés, parmi ceux ramassés. </h5>
                    <div class="stat-desc-container flex-center">
                        <p class="stat-desc flex-center">
                            Vous avez recyclé  {{ recycled_volume * 100 / total_volume }}% de vos déchets.
                                {% if recycled_percentage > 80 %}
                                    Un vrai professionnel du tri. Bravo !
                                {% elif recycled_percentage > 60 %}
                                    Il vous reste encore des choses à apprendre, mais on est déjà épatés !
                                {% else %} 
                                    {% if recycled_percentage > 40 %}
                                        Vous êtes sur la bonne voie ! Continuez à trier vos déchets, et à les déposer dans les bonnes poubelles.
                                    {% elif recycled_percentage > 20 %}
                                        Ne vous découragez pas ! Trier, ce n'est pas aussi difficile que ça en a l'air.
                                    {% elif recycled_percentage > 0 %}
                                        C'est un bon début, mais on est sûr que vous pouvez faire mieux !
                                    {% else %}
                                        Vous n'avez pas encore recyclé de déchets. Il est temps de vous y mettre !
                                    {% endif %}
                                    Tenez, voici <a href="/articles/"> une ressource</a> qui contient plein d'informations!
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "separation-line"></div>
<div class = "profile-management">
    <h1 id = "title-management">Mon profil : </h1>
    <h2 class = "user-info">Mes infos :</h2>
    <h3 id = "user-name">Mon nom : {{user.first_name}} {{user.last_name}}</h3>
    <form method="POST" action="/profile/reset-first-name/"">
        <input type="text" name="new-first-name" placeholder = "Entrez votre prénom" required>
        <input class = "submit-button" type="submit" value="Valider">
    </form>
    <form method="POST" action="/profile/reset-last-name/"">
        <input type="text" name="new-last-name" placeholder="Entrez votre nom" required>
        <input class = "submit-button" type="submit" value="Valider">
    </form>
    <h3 id = "user-mail">Mon email : {{user.email}}</h3>
    <form method="POST" action="/profile/reset-email/">
        <input type="email" name="new-email" placeholder="Entrez votre nouvel email" required>
        <input class = "submit-button" type="submit" value="Valider">
    </form>

    <h2 class = security>Sécurité</h2>
    <h3 id = "reset-password">Réinitialiser mon mot de passe :</h3>
    <form method="POST" action="/profile/reset-password/">
        <input type="password" name="password" placeholder="Entrez votre mot de passe" required>
        <input class = "submit-button" type="submit" value="Valider">
    </form>
    <form method="POST" action="/profile/reset-password/"">
        <input type="password" name="new-password" placeholder="Entrez votre nouveau mot de passe" required>
        <input class = "submit-button" type="submit" value="Valider">
    </form>
    
    <h3 id="delete-user">Supprimer mon compte :</h3>
    <form method="POST" action="/profile/delete-user/">
        <input type="password" name="password" placeholder="Entrez votre mot de passe" required>
        <input class = "submit-button" id="delete-user-button" type="submit" value="Valider">
    </form>
     
    
   
</div>
<script src="../static/js/profile.js"></script>
{%endblock%}
