{%extends "base.html"%}
{%block title%}Accueil{%endblock%}
{%block stylesheets%} <link href="../static/css/shop.css" rel="stylesheet"> {%endblock%}
{%block content%}
<section class = "middleZone">
   <h1 id="titre_shop">Boutique</h1>
   <p> Phrase intro boutique ? </p>
   <ul class = "itemList">
      {% for product in products %}
         <li class="item">
            <img class="itemPic" src="/static/images/{{ product.img_url}}" alt="Poubelle Grise">
            <section class = "itemInfo">
               <h2 class="itemName"> {{ product.product_name }} - {{ product.volume }}L </h2>
               <p class="itemDesc">
                  {{ product.desc }}
               </p>
            </section>
            <section class="itemBuying">
               <p class="itemPrice"> {{ product.price }}€ </p>
               <button onclick="addToCart({product_id: '{{product.product_id}}',name: '{{product.product_name}} - {{ product.volume}}L', price: '{{product.price}}€', img_src:'../static/images/{{product.img_url}}'})"> Ajouter au panier </button>
            </section>
         </li>
      {% endfor  %}
   </ul>
</section>
<div id="shoppingCart" class="shopping-cart">
   <div class="shoppingHeader">
      <img id="cart_logo" src="/static/images/shopping-cart.svg" alt="Logo of the shopping cart" width="100" height="100">
      <h1 id="cart_title">Panier</h1>
   </div>
   <div class="shoppingContent">
      <p id="cart_text">Votre panier</p>
      <ul id="cart_list">
         <li id="emptyCart">Vide actuellement</li>
      </ul>
</div>
<div class = "shoppingFooter">
   <p id="total_amount">Total : 0€</p>
   <form id="validation-cart-form" action="/shop/" method="post" onsubmit="submitCart()">
      <input type="hidden" id="cart" name="cart" value="">
      <button id="cartConfirmButton">Valider le panier</button>
   </form>
</div>
{%endblock%}
<script src="/static/js/shop.js"></script>
<script>

function submitCart() {
   if (ids_list.length === 0) {
      event.preventDefault();
      alert("Votre panier est vide");
   }
   else {
      cartInput.value = ids_list.join('-');
   }
}
</script>