<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/sign_up.css"/>
    <title> S'inscrire </title>
</head>

<body>
  <div class="content">
    <div class="login-section">
      <div class="column content-left text-white box-shadow">
        <div class="welcome-div">
          <div class="bg-image"></div>
          <h1>
            <span class="fadein-animation"> Bienvenue</span>
            <span class="fadein-animation"> chez</span>
            <span class="fadein-animation"> nous! </span>
            <br>
            <span class="fadein-animation"> Prêt</span>
            <span class="fadein-animation"> à </span>
            <span class="fadein-animation"> vous </span>
            <span class="fadein-animation"> battre </span>
            <span class="fadein-animation"> encore </span>
            <span class="fadein-animation"> plus</span>
            <span class="fadein-animation"> pour </span>
            <span class="fadein-animation"> la </span>
            <span class="fadein-animation"> planète ?</span>
          </h1>
        </div>
      </div>
      <div class="column content-right box-shadow">
        <div class="form-wrapper">
          <div class="logo">
            <img src="../static/images/trash.svg" alt="Logo" width="48" height="48"/>
          </div>
          <h1 class="text-title text-center"> S'inscrire : </h1>
          {% block content %}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class="flashes-error">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <form method="post">
            <div class="field-group">
              <label for="first-name" class="label"> Prénom :</label>
              <input class="input" type="text" id="first-name" name="first-name">
            </div>
            <div class="field-group">
              <label for="last-name" class="label"> Nom :</label>
              <input class="input" type="text" id="last-name" name="last-name">
            </div>
            <div class="field-group">
              <label class="label" for="txt-email"> Email : </label>
              <input class="input" type="email" id="txt-email" name="email" />
            </div>
            <div class="field-group">
              <div class="label-wrapper">
                <label class="label" for="txt-password"> Mot de passe: </label>
                <label class="label label--right" onclick="toggleEye()">
                  <img src="../static/images/eye-on.svg" alt="eye" class="label-icon eye is--show" width="24" height="24" color="lightblue"/>
                  <img src="../static/images/eye-off.svg" alt="eye-off" class="label-icon eye-off is--hide" width="24" height="24" color="lightblue"/>
                  <line x1="1" y1="1" x2="23" y2="23"></line>
                </label>
              </div>
              <input class="input" type="password" id="txt-password" name="password"/>
            </div>
            <div class="field-group">
              <div class="label-wrapper">
                <label class="label" for="txt-password-repeat"> Confirmez votre mot de passe : </label>
              </div>
              <input class="input" type="password" id="txt-password-repeat" name="password-repeat"/>
            </div>
            <div class="field-group">
              <input class="btn-submit transition-duration-300" type="submit" value="Sign up" />
            </div>
          </form>
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="next-slide">
      <h1 class="text-center title"> ..., c'est quoi ?</h1>
      <div class="row">
        <div class="parent text-white">
          <div class="div1 box-shadow">
            <figure class="grid-container">
              <img src="../static/images/montagne.jpg" alt="montagne">
              <figcaption class="text-center">
                <h1> Qui sommes-nous ?</h1>
              </figcaption>
              <div class="overlay overlay-height text-center" style="bottom:0;">
                <h1  class="title"> Qui sommes-nous ?</h1>
                <h4>
                  Nous sommes une équipe de 4 étudiants en informatique à Telecom Nancy. 
                  Nous avons choisi de créer un site de sensibilisation à l'écologie, 
                  en particulier à la gestion des déchets, afin de garantir des rues propres et agréables à vivre,
                  tout en favorisant l'écologie en optimisant les trajets !
                </h4>
              </div>
            </figure>
          </div>
          <div class="div2 box-shadow">
            <figure class="grid-container">
              <img src="../static/images/sunset.jpg" alt="sunset">
              <div class="overlay overlay-width text-center" style="bottom:0; right:0;">
                <h1  class="title"> Les fondateurs.</h1>
                <h4>
                  <ul class="text-center">
                    <li>Fondateur 1 </li>
                    <li>Fondateur 2</li>
                    <li>Fondateur 3</li>
                    <li>Fondateur 4</li>
                  </ul>
                </h4>
              </div>
            </figure>
          </div>
          <div class="div3 box-shadow">
            <figure class="grid-container">
              <img src="../static/images/foret2.jpg" alt="foret2">
              <div class="overlay overlay-width text-center" style="bottom:0;">
                <h1 class="title"> Les origines.</h1>
                <h4>
                  Au départ, ce n'était qu'un projet lié à notre formation à Telecom Nancy. En
                  lien avec <a href="https://enactus.fr/"> ENACTUS </a>, une association qui s'investit auprès
                  de toutes les générations et qui proposent à chacun de développer ses compétences.
                  <br>
                  Au fil du temps, nous avons développé ce projet. Et vous êtes ici, pour
                  peut-être nous aider à le faire grandir !
                </h4>
              </div>
            </figure>
          </div>
          <div class="div4 box-shadow">
            <figure class="grid-container">
              <figcaption class="text-center">
                <h1> Ce que nous vous proposons. </h1>
              </figcaption>
              <img src="../static/images/ocean.jpg" alt="ocean">
              <div class="overlay overlay-height text-center" style="top:0;">
                <h1 class="title caption"> Ce que nous vous proposons.</h1>
                <h4>
                  Ici, à ... (nom de la companie), nous vous proposons un concept simple.
                  <br>
                  Une refonte de l'organisation de la collecte des poubelles.
                  <br>
                  De manière générale, en France, elle est gérée de manière élémentaire : un jour 
                  dans la semaine est choisi pour les poubelles ménagères, un autre pour les poubelles
                  de cartons,et ainsi de suite. Que votre poubelle soit vide ou pleine, elle sera ramassée.
                  <br>
                  Grâce aux nouvelles technologies, nous pouvons faire mieux : ne ramasser que lorsque c'est nécessaire.
                  Vous êtes en vacances pendant 1 mois dans un pays étranger ? Aucun problème.Notre système
                  n'enverra aucun signal pour que votre poubelle soit ramassée, ne générant aucune pollution
                  de par nos camions.
                </h4>
              </div>
            </figure>
          </div>
        </div>
        <h1 class="text-center title"> En espérant pouvoir bientôt vous compter parmi nos adhérents ! <br> L'équipe.</h1>
      </div>
    </div>
  </div>
  </div>

  <script>

    function toggleEye() {
      var p = document.querySelector('#txt-password');
      var t = document.querySelector('.label-text');
      var ey = document.querySelector('.eye');
      var eyo = document.querySelector('.eye-off');
      var currType = p.getAttribute('type');
      if (currType === 'password') {
        p.setAttribute('type', 'text');
        ey.classList.replace('is--show', 'is--hide');
        eyo.classList.replace('is--hide', 'is--show');
      } else {
        p.setAttribute('type', 'password');
        eyo.classList.replace('is--show', 'is--hide');
        ey.classList.replace('is--hide', 'is--show');
      }
    }

    window.onload = function(){
      let h1FadeIn = document.querySelector('.welcome-div h1');
      for (let i = 0; i < h1FadeIn.children.length; i++) {
        h1FadeIn.children[i].style.animationDelay = (i + 1) * 0.1 + 's';   
      }
    }
  </script>
  
</body>
</html>