* {
    font-family: 'Inter', sans-serif;
  }
  
body{
  /* display: flex; */
  background-color: rgb(255, 255, 255);
  margin : 0;
  overflow: visible;
  /* flex-direction: column; */
  /* align-items: center; */
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

#top_logo{
  margin-top:5px;
}


.header a:not([id = "logo"],[id = "top_logo"]){
  text-decoration: none;
  padding: 10px;
  color: #000000;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.header a:not([id = "logo"]):hover{
  background-color: #006570;
  color: #ffffff;
}

.header-line{
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 0 auto;
}

.headerui{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  z-index: 100;
  top:0;
}

.header-left{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  gap:5px;
}

.header-right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/*Attention, n'oubliez pas de décaler votre contenu de la page de la taille du footer, pour que rien ne reste coincé en dessous */
.contact{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left:0;
  padding-left: 1%;
  width: 100%;
  height: 50px;
  background-color: #006570;
  color: #fff;
  z-index: 100;
  align-items: center;
}

#contact_title{
  font-size: small;
}

#contact_list{
  
  list-style-type: none;
  align-items: center;
  
}
