* {
    font-family: 'Inter', sans-serif;
    list-style-type: none;  
  }
  
body{
  display: flex;
  background-color: rgb(255, 255, 255);
  margin : 0;
  padding:0;
  flex-direction: column;
  align-items: center;
}


.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  height: 100px;
  width: 100%;
  gap:50px;
  position: sticky; /*sticky ou fixed ?*/
  top: 0;
  left: 0;
  z-index: 100;
}

.header a:not([id = "logo"]){
  text-decoration: none;
  padding: 10px;
  color: #000000;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.header a:not([id = "logo"]):hover{
  background-color: #006570;
  color: #ffffff;
}

.header-line{
  width: 10%;
  height: 2px;
  background-color: #000;
  margin: 0 auto;
}

.h1-color  {
	color: #139a76;
}

.text-center {
  text-align: center;
}

.flex-column {
	display: flex;
	flex-flow: column;
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
}

.flex-space-evenly {
	justify-content: space-evenly;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.fadein-animation {
  opacity: 0;
  filter: blur(10px);
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  animation-fill-mode: forwards;
  animation-name: fade-in;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.contact{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left:0;
  padding-left: 1%;
  width: 100%;
  height: 50px;
  background-color: #006570;
  color: #fff;
  z-index: 100;
  align-items: center;
}

#contact_title{
  font-size: small;
}