.content{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 80%;
  /*text-align: justify;*/
  /*text-align-last: center;*/
  margin:20px auto 50px auto; /*La margin bottom 50 permet que rien ne reste sous le footer */
}


.container-info {
  display: flex;
  align-items: center; 
  grid-template-columns: auto 1fr;
  column-gap: 5px;
  width:fit-content;

 }

.image-container img{
  max-width: 200px;
  max-height: 200px;
}

.image-left img {
  float: right;
}
    
.image-right img {
  float: left;
}

.text {
  text-align: justify;
}