body{
    background-image: url("../images/flower-field.jpg");
    background-size: cover;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#stats-title{
    text-align: center;
}

.stats ul{
    list-style-type: none;
    text-align: justify;
    padding: 0;
}

