<!DOCTYPE html>
<!-- Create an header and body for html -->
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Accueil - ProjetPoubelle</title>
    <link href="../static/css/homepage.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
</head>

<body>
    <div class="header">
        <!-- Here you have the name of the project and 4 buttons leading to the other
        pages : Accueil (here), Mon Compte (which will have all the account related things)
        and Boutique which lead to the shop to get the magnificient Poubelles™-->
        <a href="shop.html" id="logo"><img src="../static/images/trash.svg" id="logo" alt = "Logo of the project" width="100" height="100"></a>
        <!-- note : remplacer par le bon logo, si possible en svg-->
        <h1>ProjetPoubelle</h1>
    
    <!-- note : ajouter des mots clés en "strong" pour le référencement-->
        <div class="header-right">
            <a class="active" href="homepage.html">Accueil</a>
            <a href="shop.html">Boutique</a>
            <a href="myaccount.html">Mon compte</a>
            
        </div>
    </div>
    <div class = "header-line"></div>

    <div class="content">

    <h1 id="titre_accueil">Accueil</h1>
    
    <p>consectetur adipiscing elit. Ut consequat justo eu pellentesque ultricies. Proin mollis fringilla nisl, elementum vehicula tortor cursus at. Nam quis ligula lacinia, porttitor elit a, fermentum diam. Donec ut faucibus justo. Suspendisse vel molestie massa. Curabitur vestibulum tincidunt nulla. Etiam sem elit, euismod ac ipsum ac, faucibus tincidunt mi.

        Nullam euismod quam in finibus tincidunt. Proin a purus ultricies, gravida eros eget, consequat odio. Duis hendrerit mauris non libero egestas, sit amet luctus lacus feugiat. Etiam laoreet, nisi sit amet laoreet tempor, nibh neque scelerisque est, sit amet semper nibh massa ac purus. Nulla velit odio, pretium vel purus a, bibendum lobortis libero. Maecenas bibendum nunc mi, hendrerit mattis lacus sagittis ac. Donec rhoncus mi nec ex fermentum, ut auctor elit facilisis. Nam ipsum sapien, dictum vitae purus facilisis, ornare fringilla leo. Mauris placerat dui eget fringilla facilisis. Mauris eu interdum augue. Nam eleifend luctus elit non viverra. Praesent ut nisi in est suscipit consectetur quis non odio. Vivamus viverra risus sed mi pharetra pretium. Ut a neque ut arcu imperdiet rhoncus quis vitae lacus.
    
        Etiam lacus tortor, sagittis eget ex nec, tincidunt tempus elit. Morbi sit amet euismod nisi. Sed ipsum sapien, tempus ut commodo id, tempor ac metus. Nullam porta eu est laoreet molestie. Fusce sit amet condimentum lacus. Nullam volutpat cursus iaculis. Suspendisse ut augue rhoncus, suscipit neque eget, bibendum quam. Sed non tellus fermentum, condimentum tellus et, pulvinar nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vitae blandit mi. Donec sit amet tincidunt erat.
    
        Suspendisse efficitur facilisis efficitur. Morbi odio sem, rutrum at volutpat eu, sodales eu leo. In id nibh in neque feugiat pulvinar. Donec nec ipsum mollis, congue magna in, ultricies ipsum. Praesent nec nisi vitae sem convallis lobortis semper id neque. Fusce ultricies eros finibus, viverra ex ac, tristique magna. Duis et augue a mi sodales consequat vel in urna. Praesent consectetur, sapien id luctus ornare, urna eros cursus massa, sed dapibus eros diam sit amet tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    
        Fusce molestie accumsan accumsan. Ut ultricies purus lectus, non efficitur libero auctor quis. Cras nisl lorem, dapibus nec fermentum ut, tincidunt eget ex. Donec gravida elementum lectus et placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce vestibulum sed ante non venenatis. Donec dignissim tempor sapien, id feugiat ex faucibus at. Nulla facilisi. Nam convallis hendrerit arcu, varius elementum ex lobortis ut. Donec vulputate malesuada mi, vel sollicitudin enim sodales eget. Fusce ornare, ligula a pharetra vulputate, odio orci convallis ipsum, in porttitor magna urna sed tellus. Cras placerat velit eget justo tempus elementum. Praesent pulvinar, sapien sed sodales facilisis, libero erat pretium ante, quis tincidunt mauris mauris in erat. Integer sit amet lacinia enim. </p>
    </div> 
    
    <div class = "footer">
        <div class="contact">
            <!-- a voir ce qu'on met exactement ici-->
            <h2 id ="contact_title">Nous contacter :</h2>
            <ul id = "contact_list">
                <li>mail :</li> 
                <li> telephone :</li>
                
            </ul>
        </div>
    </div>

</body>
</html>



