<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/test.css"/>
    <title> TEST </title>
</head>

<body>

    <div class="presentation-div">
        <div class="presentation-slide">
            <h1> TEST1</h1>
            <h1> TEST1</h1>
            <h1> TEST1</h1>
        </div>
        <div class="presentation-slide centre">
            <h1> TEST2</h1>
        </div>
        <div class="presentation-slide">
            <h1> TEST3</h1>
        </div>
    </div>
 



</body>
</html>